body {
  margin: 0 0 20em 0;
}

h1 {
  text-align: left;
  margin: 0;
  margin-left: -0.5em;
  padding: 0;
  border: 0;
}

h2 {
  margin-left: -0.5em;
}

p#pitch {
  text-align: left;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.prefix-re {
  font-weight: bold;
  color: #284328;
}

a,
a:hover,
a:focus {
  color: #4040BF;
}

a:hover,
a:focus {
  text-decoration: underline;
}

nav a,
nav a:hover,
nav a:focus,
footer a,
footer a:hover,
footer a:focus {
  color: #284328;
  text-decoration: none;
  border: 0;
}
nav a:hover,
nav a:focus,
footer a:hover,
footer a:focus {
  text-decoration: underline;
}

.btn-select {
  background-color: #F5F5F5;
}

form div {
  display: inline-block;
  margin: 0 0 0 1.5em;
}

.form-signin {
  max-width: 300px;
}

.form-control {
  margin: 5px 0;
}

.upload-new-public-key {
  display: block;
}

.form-special div {
  margin: 0;
  display: block;
}

.panel {
  margin: 1em 0;
}

.form-special .panel {
  margin: 1em 0;
}

footer a,
footer a:hover,
footer a:focus {
  color: #777;
}

footer a {
  margin: 0 .5em;
}

footer #update-date {
  display: block;
  margin: 0 .5em;
}

footer a#commons-license {
  margin: 0;
}

.footer {
  height: auto;
}

.footer-left {
  margin: 0;
}

.control-btn {
  margin: 0.1em;
}

.console-header {
  margin: 0.25em;
}

code {
  color: #284328;
  background: #FFF;
}

.pagination li a,
.pagination li a:hover,
.pagination li a:focus {
  color: #284328;
}

.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus {
  background: #306A30;
  border-color: #306A30;
}

.pagination-nav {
  text-align: center;
}

img {
  border: 1px solid #000;
  max-width: 600px;
}

ul.list-wtypes {
  margin: 1em 0;
}

#main-content {
  font-family: Georgia, sans;
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}
